.viewallcontainers {
  padding: 2rem;
  text-align: center;
}
.viewallcontainers button {
  position: fixed;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: #82e5f9;
  color: rgb(0, 0, 0);
  margin-top: 5px;
  width: 7rem;
  height: 40px;
}

.btnn {
  display: flex;
  justify-content: flex-end;
  padding-left: 79rem;
}

.viewallcontainers button:hover {
  background-color: rgb(252, 77, 47);
  color: rgb(255, 255, 255);
}

.gridcontainers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.gridcards {
  border: 2px solid #000000;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  background: white;
}

.gridcards:hover {
  transform: translateY(-5px);
}

.gridcards img {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 8px;
}

.gridcards h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.gridcards p {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(252, 77, 47);
}

/* Responsive */
@media (max-width: 768px) {
  .gridcards img {
    height: 150px;
  }
}

@media (max-width: 480px) {
  .gridcontainers {
    grid-template-columns: 1fr;
  }
}
