.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
.Navbar .logo {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.Navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #3e3e3f;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}
/* Navbar Search  */
.navbar-search-container {
  display: flex;
  align-items: center;
  /* border: 2px solid #000000; */
  border-radius: 20px;
  padding: 5px 50px;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  gap: 10px;
}

.navbar-search {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
  margin-right: 50px;
  background: transparent;
  width: 120px;
}

.navbar-search-icon {
  font-size: 16px;
  color: rgb(252, 77, 47);
  cursor: pointer;
}

.Navbar button {
  background: transparent;
  font-size: 16px;
  color: #ffffff;
  /* border: 2px solid rgb(115, 115, 115); */
  border: none;
  background-color: rgb(252, 77, 47);
  padding: 7px 12px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.4s;
}
.Navbar button:hover {
  background-color: #82e5f9;
  color: #000;
}
.Navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #3e3e3f;
}
.mobile-nav-button {
  font-size: 35px;
  margin: 5px;
  padding-top: 8px;
  display: none;
}

@media (max-width: 850px) {
  .Navbar-menu {
    gap: 10px;
  }
}
@media (max-width: 900px) {
  .Navbar .logo {
    width: 120px;
  }
  .Navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-search-container {
    display: none;
  }
}
@media (max-width: 264px) {
  .Navbar-menu {
    font-size: 5px;
  }
}
@media (max-width: 650px) {
  .Navbar-menu {
    position: static;
  }
}
/* mobile view */
@media (max-width: 787px) {
  .mobile-nav-button {
    display: flex;
  }
  .navbar {
    padding-left: 2rem;
  }

  /* search icon */

  @media (max-width: 787px) {
    .Navbar {
      padding: 10px;
      margin-bottom: 10px;
    }
    .navbar-search {
      width: 90%;
      margin: 10px 0;
      font-size: 14px;
    }
  }
  .Navbar-menu {
    display: flex;
    width: 78%;
    position: absolute;
    background-color: rgb(255, 144, 124);
    border-radius: 20px;
    padding: 8px;
    top: 110px;
    transition: all 0.6s ease-in;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .mobile-nav-button {
    font-size: 35px;
  }
  .Navbar-menu.close {
    width: 100px;
    top: -100%;
    transition: all 0.6s ease-in;
  }
}
@media (max-width: 1000px) {
  .Navbar-menu {
    gap: 20px;
    font-size: 15px;
  }
  .navbar-search-container {
    display: none;
  }
}
@media (max-width: 1050px) {
  .Navbar .logo {
    width: 140px;
  }
}
@media (max-width: 1144px) {
  .navbar-search {
    display: none;
  }
}
