@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.container {
  height: 500px;
  width: 500px;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
}
